<nav class="navbar sticky-top bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Content</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" data-bs-dismiss="offcanvas"   routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-dismiss="offcanvas"  routerLink="/list">List</a>
          </li>
        </ul>
      </div>
    </div>
    <a class="navbar-brand" routerLink="/home">Home</a>
    <a class="navbar-brand" routerLink="/list">List</a>
    <a class="navbar-brand" routerLink="/modal">Modal</a>
    <div>
      <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Virat_Kohli_during_the_India_vs_Aus_4th_Test_match_at_Narendra_Modi_Stadium_on_09_March_2023.jpg" class="rounded" alt="..." width="40" height="30">
      </button>
      <div class="offcanvas offcanvas-end" id="offcanvasExample">
        <div class="offcanvas-content">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" data-bs-dismiss="offcanvas"   routerLink="/home">profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" data-bs-dismiss="offcanvas"  routerLink="/list">logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
</nav>
<router-outlet></router-outlet>