<h1><app-modal></app-modal></h1>
<br />
<h3>Job Dashboard</h3>
<br />
<div>
  <div class="card w-50" *ngFor="let job of jobData">
    <div class="card-body">
      <h5 class="card-title">{{ job.title }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ job.org }}</h6>
      <div *ngFor="let s of job.skills" class="d-inline p-1">
        <td class="test">{{ s.skill }}</td>
      </div>
      <div>{{ job.salary }}</div>
      <p class="card-text">{{ job.description }}</p>
      <button
        class="btn btn-outline-primary mb-2 me-2"
        (click)="openLg(content)"
      >
        Apply
      </button>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Job List</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="md-form mb-3">
        <i class="fas fa-user prefix grey-text"></i>

        <label data-error="wrong" data-success="right" for="form3"
          >Your name</label
        >

        <input type="text" id="form3" class="form-control validate" />
      </div>

      <div class="md-form mb-3">
        <i class="fas fa-envelope prefix grey-text"></i>

        <label data-error="wrong" data-success="right" for="form2"
          >Your email</label
        >

        <input type="email" id="form2" class="form-control validate" />
      </div>
      <div class="md-form mb-3">
        <i class="fas fa-envelope prefix grey-text"></i>

        <label data-error="wrong" data-success="right" for="form2"
          >Your Phone no.</label
        >

        <input type="email" id="form2" class="form-control validate" />
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Want to share your profile
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button
        (click)="showToasterSuccess()"
        (click)="modal.close()"
        type="button"
        class="btn btn-primary"
      >
        Submit
      </button>
      <button
        type="button"
        class="btn btn-light"
        (click)="modal.close('Close click')"
      >
        Close
      </button>
    </div>
  </ng-template>
</div>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshPage()"
    aria-label="Default pagination"
  >
  </ngb-pagination>

  <select
    class="form-select"
    style="width: auto"
    [(ngModel)]="pageSize"
    (ngModelChange)="refreshPage()"
  >
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
