<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Specify your Job Requirement</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <div  class="md-form mb-3">
        <i class="fas fa-user prefix grey-text"></i>
        <label data-error="wrong" data-success="right" for="form3">Job: </label>
          <input type="text" id="form3" class="form-control validate" formControlName="title" placeholder="Specify job title"  />
      </div>
      <div class="md-form mb-3">
        <i class="fas fa-user prefix grey-text"></i>
        <label data-error="wrong" data-success="right" for="form3"> Company:</label>
          <input type="text" id="form3" class="form-control validate" formControlName="org" placeholder="Your Company Name" />
      </div>
      <div style="width:100%">
        <label data-error="wrong" data-success="right" for="form2"> skills:</label>
          <ng-multiselect-dropdown
             [settings]="dropdownSettings"
             [data]="dropdownList"
             placeholder="Select your Skills" 
             formControlName="skills">
          </ng-multiselect-dropdown>
      </div>
      <div class="md-form mb-3">
        <i class="fas fa-user prefix grey-text"></i>
        <label data-error="wrong" data-success="right" for="form2">Salary:</label>
          <input type="number" id="form3"class="form-control validate" formControlName="salary" placeholder="Excepted Salary" />
      </div>
      <div class="md-form mb-3">
        <i class="fas fa-user prefix grey-text"></i>
        <label data-error="wrong" data-success="right" for="form2">Description:</label>
          <textarea id="form3" class="form-control validate"formControlName="description" placeholder='Describe your Job Details' maxlength='1000' minlength='10'>
             </textarea>
      </div>
      <button (click)="modal.close('Close click')" type="submit" class="btn btn-primary">Submit</button>
    </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>
<h1><button class="btn btn-outline-primary mb-2 me-2" (click)="openLg(content)">POST NEW JOB</button></h1>