/* *{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  
  }
  table{
     width:100%;
    }
   table ,th,td {
      border: 1px solid brown;
    }
   th,td {
      width:auto;
      text-align: center;
    }
   th {
      background-color: #ddd;
      color: #333;
    } */